html, body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: #1D1F21;
    min-width: 320px;
    font-size: 12pt;
    color: #C5C8C6;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: #1D1F21;
}

::-webkit-scrollbar-thumb {
    background: #383A3E;
}

::-webkit-scrollbar-thumb:hover {
    background: #484A4E;
}

input, textarea, select {
    -webkit-appearance: none;
}

.header {
    background: #282A2E;
    height: 32px;
    padding: 16px;
    max-height: 64px;
}

.title {
    display: inline-block;
    vertical-align: top;
    color: #C5C8C6;
    font-weight: bold;
    padding-top: 8px;
    padding-right: 16px;
    font-family: Arial, sans-serif;
}

.header .buttons {
    display: inline-block;
    vertical-align: top;
}

.header input.button {
    vertical-align: top;
    display: inline-block;
    border: 0;
    min-width: 32px;
    height: 32px;
    max-height: 32px;
    overflow: hidden;
    background: #66CC99;
    color: #116633;
    font-size: 1.4em;
    margin: 0;
    padding: 6px 8px;
    font-family: Arial, sans-serif;
    outline: none;
    line-height: 100%;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out, opacity 0.3s ease-in-out, border 0.3s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
    border-right: 1px solid #484A4E;
}
input.button:hover { background: #88EEBB; color: #338855; }
input.button:active { opacity: 0.5; }

input.button.build, input.button.play {
    padding: 5px 8px 7px;
}

.header .dropdown {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background: #6699CC;
    min-width: 32px;
    height: 32px;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out, opacity 0.3s ease-in-out, border 0.3s ease-in-out;
}
.header .dropdown .tiny {
    display: none;
    padding: 8px 6px;
    line-height: 100%;
    color: #113366;
    font-family: Arial, sans-serif;
}
.header .dropdown:hover { background: #88BBEE; }
.header .dropdown.highlighting { background: #CC99CC; }
.header .dropdown.highlighting:hover { background: #EEBBEE; }

.header select {
    background: transparent;
    color: #113366;
    outline: none;
    height: 32px;
    padding: 5px 8px;
    border: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
}

.header select:hover, .header .dropdown .tiny { color: #335588; }
.header select option { background: #FFFFFF; color: #000000; }

.header img.icon {
    border: 0;
    outline: 0;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out, opacity 0.3s ease-in-out, border 0.3s ease-in-out;
}

.header img.icon:hover { opacity: 0.6; }

.tabs {
    height: 36px;
    overflow: hidden;
    background: #484A4E;
    color: #C5C8C6;
    border-top: 4px solid #282A2E;
    font-family: Arial, sans-serif;
}

.tabs .tab, .tabs .add, .tabs .load {
    display: inline-block;
    vertical-align: top;
    line-height: 100%;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out, opacity 0.3s ease-in-out, border 0.3s ease-in-out;
    cursor: pointer;
}

.tabs .tab {
    padding: 8px;
    height: 24px;
    background: #383A3E;
    color: #A5A8A6;
    border-right: 1px solid #404246;
}
.tabs .tab:hover { background: #404246; color: #C5C8C6; }
.tabs .tab.active {
    background: #484A4E;
    color: #C5C8C6;
    cursor: default;
}

.tabs .tab .close {
    padding-left: 12px;
    cursor: pointer;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out, opacity 0.3s ease-in-out, border 0.3s ease-in-out;
}

.tabs .tab .close:hover { color: #FFFFFF; }

.tabs .add, .tabs .load {
    padding: 8px;
    width: 20px;
    height: 24px;
    text-align: center;
    background: #6699CC;
    color: #1D1F21;
    font-size: 1.4em;
    border-right: 1px solid #484A4E;
}
.tabs .add:hover, .tabs .load:hover { background: #88BBEE; }
.tabs .load { padding: 4px 8px 12px; border-right: 4px solid #484A4E; }

.relative {
    position: relative;
}


.output {
    position: absolute;
    height: 168px;
    margin: 0;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #282A2E;
    color: #C5C8C6;
    z-index: 1000;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out, opacity 0.3s ease-in-out, border 0.3s ease-in-out;
}

.output .console {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 12px;
    background: #282A2E;
    color: #C5C8C6;
    overflow: auto;
}

.output .close {
    position: absolute;
    top: -24px;
    right: 0px;
    font-family: Arial;
    font-size: 2em;
    cursor: pointer;
    color: #858886;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out, opacity 0.3s ease-in-out, border 0.3s ease-in-out;
}
.output .close:hover { color: #C5C8C6; }

.editor {
    position: absolute;
    top: 104px;
    bottom: 200px;
    left: 0;
    right: 0;
}

.editor .textarea { 
    display: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    resize: none;
    border: 0;
    outline: 0;
    background: transparent;
    color: #C5C8C6;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 12px;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out, opacity 0.3s ease-in-out, border 0.3s ease-in-out;
}

.editor .textarea.text { 
    padding: 0 8px;
}

.ace-tomorrow-night .ace_gutter {
    color: #959896 !important;
}

.ace-tomorrow-night .ace_gutter-active-line {
    background-color: #484A4E !important;
}

.ace-tomorrow-night .ace_marker-layer .ace_selection {
    background-color: #383A48 !important;
}


@media screen and (max-width: 720px) {
    .header .dropdown .tiny { display: block; }
    .header .dropdown.platform select {
        text-indent: -99999px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
     }
    .header .dropdown.highlighting { display: none; }
    .header .github .icon { display: none; }

    .editor { border-left: 0; }
    .editor .textarea.ace { margin-left: 0; }
}