bin/
wiz.js
*.d
*.gb
*.gbc
*.gg
*.sms
*.nes
*.sfc
*.smc
*.spc
*.pce
*.nl
*.a26
*.sym
*.[Oo]bj
[Tt]humbs.db
*.DS_Store
*.i
*.vsp
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.pdb
*.sdf
*.opensdf
*.vcxproj.user
*.log
*.lib
*.sbr
*.sdf
*.exe
*.pdb
*.out.*
*.a
*.o
*.la
vc/[Dd]ebug
vc/[Oo]ptimized\ [Dd]ebug
vc/[Rr]elease
vc/x64/
vc/tests/[Dd]ebug
vc/tests/[Rr]elease
~$*
*.swp
*.swo
*~
vc/ipch
obj/
*.VC.db
*.VC.opendb
*.deb
*.vspx
*.psess
*.bin